@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth
}

.pseudo-image-hover {
  &::before {
    background-image: inherit;
  }
}

:root {
  --primary: 174 58% 30%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground tracking-wide;
  }
  
  button {
    @apply ring-offset-background focus-visible:ring-2 focus-visible:outline-none focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }
}
